@import "tailwindcss";

@theme {
    --color-primary: #28262c;
    --color-secondary: #998fc7;
    --color-background: #f9f5ff;
    --color-accent: #d4c2fc;
}

@layer base {
    p {
        @apply text-[min(4vw,24px)];
    }

    h2 {
        @apply text-[min(6vw,28px)] font-semibold;
    }
    section {
        @apply h-1/2 w-full p-[min(6vw,40px)];
    }
}

@layer components {
    .card-wrapper {
        @apply grid auto-cols-auto grid-cols-3 gap-8 px-[min(2vw,40px)] md:grid-cols-7;
    }
    .card {
        @apply bg-accent h-auto w-full rounded-md p-2.5;
    }
}

@utility flex-center {
    @apply flex items-center justify-center;
}
